body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    direction: rtl; /* Set text direction to right-to-left */
}

#quiz-container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    direction: rtl; /* Set text direction to right-to-left */
}

h1 {
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.iphone-button {
    background: linear-gradient(to bottom, #4c8ef7, #3467d6);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 4px #2a4f9c;
    transition: all 0.3s ease;
}

.iphone-button.active {
    background-color: #ff6347; /* Change this color as needed */
    box-shadow: 0 4px #b34730;
}

.iphone-button:active {
    box-shadow: 0 2px #2a4f9c;
    transform: translateY(2px);
}

#quiz {
    margin-top: 20px;
}

.question {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

button#submit {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button#submit:hover {
    background: #0056b3;
}

#result {
    margin-top: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

.incorrect {
    color: red;
}

.incorrect-feedback {
    margin-top: 10px;
    color: red;
}
